*{
    margin: 0;
    padding: 0;
}

.text-block{
    height: 65vh;
    position: relative;
    top: 45px;
    left: 5%;
}

.text{
    text-align: center;
    height: 80%;
    border-width: 10px 10px 10px 10px;
    border-color: #EAAD93;
    border-style: solid;
    box-shadow: -28px 28px 45px -18px;
}
.chat-gif{
    height: 72%;
    position: absolute;
    top: 6%;
    left: 171px;
}

i{
    padding: 5px;
}

.social{
    position: relative;
    margin: 50px 332px 50px 200px;
    padding: 6% 10% 10px 10px;
    left: 34%;
}