<div style="height: 65vh; margin:70px 80px 90px 80px; background-color: #EAAD93;" class="">
    <div class="row">
        <div class="col-5 text-block" style="background-color: #EF6351;" >
            <div class="text mx-5 my-5">
                <h1 class="mt-5" style="font-family: 'Seaweed Script'; font-size: 50px;">Let's work together!</h1>
                <div style="font-family: 'Rancho', cursive; font-size: 23px;">
                    <p class="mt-4 mx-5">I am much more fun in person, why dont we meet,
                         exchange ideas and build something ?
                    </p>
                    <p>Drop me a mail at</p>
                    <p>
                        <span style="color: whitesmoke;">    kalprikshbist@gmail.com</span>
                    </p>    
                        😊 
                </div>
                
            </div>
        </div>
        <div class="col-sm">
            <img class="chat-gif" src="./assets/23b8ccd094d23bb3abdddcefd11594ae.gif" alt="">
        </div>

        <div class="col-sm social" style="background-color: #EF6351;">
            <i class="fab fa-instagram fa-3x"></i>
            <i class="fab fa-linkedin-in fa-3x"></i>
            <i class="fab fa-facebook fa-3x"></i>
            <i class="fab fa-twitter fa-3x"></i>
        </div>
    </div>
</div>
 